# Git
.git
.gitignore
.github/

# Docker
.docker
docker-compose*.yml
Dockerfile
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env
.env.sample

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Coverage tests
.coverage
htmlcov/
.tox/
coverage.xml
*.cover

# Media and staticfiles in development
/staticfiles/
/media/

# Documentation
/docs/
README.md
*.md

# Log files
logs/
*.log

# Redis
*.rdb 